.row-about {
  display: flex;
  margin-top: 40px;
  color: #cff1f1b4;
}

.first-column-about {
  width: 50%;
  display: block;
  padding: 15px;
  margin-top: 20px;
  text-align: center;
}

.first-column-about .carlos-picture {
  width: 95%;
  border-right: 4px solid #f9803a;
  border-bottom: 4px solid #4985c9;
  padding: 2%;
}

.second-column {
  width: 50%;
  display: block;
  padding-right: 30px;
  padding-left: 30px;
  text-align: justify;
}

.title-about {
  text-align: center;
  font-size: 1.5em;
}

.second-column p span {
  font-weight: bold;
}

.second-column p {
  margin-bottom: 10px;
}

@media (max-width: 900px) {
  .row-about {
    display: block;
  }

  .first-column-about {
    margin: 0 auto;
    display: block;
    margin-top: 0px;
    width: 70%;
  }

  .first-column-about .carlos-picture {
    width: 80%;
  }

  .second-column {
    margin: 0 auto;
    display: block;
    width: 70%;
    margin-bottom: 50px;
    padding: 0;
  }
}