.main-section-about {
  display: flex;
  margin-top: 40px;
}

.first-column, .second-column {
  width: 50%;
  display: flex;
  padding: 15px;
}

.first-column img {
  width: 35em;
  position: absolute;
  left: 60px;
  z-index: -1;
  box-shadow: 25px 25px 0px 0px #151618;
}

.second-column {
  width: 50%;
  display: block;
  margin-right: 20px;
  text-align: justify;
}

.title-about {
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 15px;
}

.second-column p span {
  font-weight: bold;
}

.second-column p {
  margin-bottom: 10px;
}


